// mixins.scss

@mixin flex-properties($flex: flex, $justify-content: center, $align-items: center) {
  display: $flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin button-styles {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
