$primary-color: #2d2e32;
$secondary-color: #147efb;
$bg-color: #f9f9f9;
$gray-color: #767676;
$white-color: #ffffff;
$black-color: #000000;
$primary-font: "Roboto", sans-serif;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$border-radius: 10px;
